html,
body {
    margin: 40px 0;
}

/* top */
.form-control:focus {
    outline: none;
    border-color: #f0ad4e;
    opacity: 0.5;
}

/*  main */
.side-bar {
    margin-top: 10px;
}

.side-bar .list-group-item {
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.side-bar .list-group-item:hover {
    background: #f0ad4e;
    color: white;
}

.carousel {
    position: relative;
    margin: 10px 0;
}

.carousel .carousel-indicators {
    position: absolute;
    bottom: -5px;
}

.carousel .item {
    width: 635px;
    height: 340px;
}

.img-shadow {
    position: absolute;
    width: 635px;
    height: 80px;
    background: #000;
    bottom: 30px;
    opacity: 0.3;
}

.img-info {
    position: absolute;
    bottom: 35px;
}

.img-info * {
    color: #ccc;
}

.img-info .author {
    margin-left: 20px;
}

h3 {
    color: #666;
    margin: 10px 15px;
}

.cate-list-item {
    border: 1px solid rgba(0, 0, 0, .1);
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px 26px 15px 26px;
    text-align: center;
}

.cate-list-item img{
    width: 263px;
    height: 154px;
}

.cate-list-item .name {
    margin: 5px;
}

.cate-list-item .author {
    margin-bottom: 5px;
}

.cate-list-item .name a {
    text-decoration: none;
    color: #666;
    font-size: 18px;
}

.cate-list-item .author a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
}

.cate-list-item .name a:hover {
    color: #f0ad4e;
}

.cate-list-item .author a:hover {
    color: #f0ad4e;
}

/* user-info */
.other-side {
    position: fixed;
}

.user-info {
    margin-top: 10px;
    background: #eee;
    opacity: 0.9;
    text-align: center;
    width: 255px;
    height: 320px;
}

.user-info * {
    position: relative;
    top: 20px;
}

.user-info .name,
.user-info .action {
    position: relative;
    margin: 30px 0;
}

.user-info .name * {
    font-size: 120%;
    color: #666;
}

.user-info .name *:hover {
    text-decoration: none;
    color: #f0ad4e;
}

/* footer */
.footer {
    margin-top: 40px;
    background: #eee;
    opacity: 0.9;
}

.footer *{
    margin-left: 2px;
    margin-bottom: 10px;
    color: #666;
}

/* bottom */
#returnTop {
    bottom: 40px;
    right: 40px;
    position: fixed;
}

#returnTop:hover {
    opacity: 0.9;
}